<section class="container pt-3" id="trabajo">
    <div class="row mb-1">
        <div class="col-md-5 col-sm-6">
            <h2 >Experiencia laboral</h2>
        </div>
    </div>
    <div class="row" *ngFor="let item of trabajo">
        <div class="col-12">
            <div class="card mb-3" >
                <div class="card-body">
                  <h5 class="card-title">{{item.puesto}}</h5>
                  <button class="btn edit" routerLink='/editar/trabajo/{{item.id_trab}}' >
                    <i class="bi bi-pen"></i>
                </button>  
                  <h6 class="card-subtitle mb-2 text-muted">{{item.compania}}</h6>
                  <h6 class="card-subtitle mb-2 text-muted">Desde el {{item.fecha_ini | date: 'd \'de\' MMMM \'del\' y':'':'es'}} al {{item.fecha_fin | date:'d \'de\' MMMM \'del\' y':'':'es'}}</h6>
                  <p class="card-text">Función desempeñada: {{item.descripcion}}.</p>
                </div>
              </div>
        </div>
    </div>
</section>