<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <button class="btn"><i class="bi bi-envelope fs-4"></i></button>
            <p class="fw-semibold">Contacto</p>
        </div>
        <div class="col-6">
            <button class="btn "><i class="bi bi-instagram fs-4"></i></button>
            <button class="btn"><i class="bi bi-github fs-4"></i></button>
            <button class="btn"><i class="bi bi-linkedin fs-4"></i></button>
            <p class="fw-semibold">Redes sociales</p>
        </div>
    </div>
</div>