
<!--Para el resto de los dispositivos-->
<nav class="nav shadow justify-content-end d-sm-flex sticky-top d-none px-3 pt-2 pb-2 bg-light-subtle">
    <div class="icon-container">
        <i class="bi bi-terminal icon fs-2 align-middle"></i><p class="fs-6 user-select-none">Argentina programa</p>
    </div>
    <button class="btn btn-outline-light text-dark ms-auto" type="button"><i class="bi bi-envelope fs-3"></i></button>
    <button class="btn btn-outline-light text-dark " type="button"><i class="bi bi-instagram fs-4"></i></button>
    <button class="btn btn-outline-light text-dark " type="button"><i class="bi bi-github fs-4"></i></button>
    <button class="btn btn-outline-light text-dark " type="button"><i class="bi bi-linkedin fs-4"></i></button>
    <div class="vr text-dark mx-1"></div>
    <button class=" btn btn-outline-light text-dark" type="button">Log in</button>
</nav>

<!--Para móviles-->
<nav class="nav shadow navbar-expand-lg justify-content-end sticky-top d-xs-flex d-sm-none px-3 pt-2 pb-2 bg-light-subtle">
    <div class="icon-container ms-auto">
        <i class="bi bi-terminal icon fs-2 align-middle"></i><p class="fs-6 user-select-none">Argentina programa</p>
    </div>
    <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <i class="bi bi-list fs-2"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <button class=" btn btn-light" aria-pressed="true" routerLink="home" type="button">Home</button>
            <button class=" btn btn-light " routerLink="trabajo" type="button">Trabajo</button>
            <button class=" btn btn-light " routerLink="educacion" type="button">Educación</button>
            <button class=" btn btn-light " routerLink="proyectos" type="button">Proyectos</button>
            <button class=" btn btn-light " routerLink="habilidades" type="button">Habilidades</button>
            <button class=" btn btn-light "  type="button">Contacto</button>
            <div class="vr text-dark"></div>
            <button class=" btn btn-light " type="button">Log in</button>
        </ul>
    </div>
</nav>