<nav class="nav shadow navbar-expand-lg justify-content-end sticky-top px-3 pt-2 pb-2 bg-light-subtle">
    <div class="icon-container">
        <i class="bi bi-terminal icon fs-2 align-middle"></i><p class="fs-6 user-select-none">Argentina programa</p>
    </div>
    <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <i class="bi bi-list fs-2"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <button class=" btn btn-light" aria-pressed="true" onclick="location.href='#home'" type="button">Home</button>
            <button class=" btn btn-light " onclick="location.href='#trabajo'" type="button">Trabajo</button>
            <button class=" btn btn-light " onclick="location.href='#educacion'" type="button">Educación</button>
            <button class=" btn btn-light " onclick="location.href='#proyecto'" type="button">Proyectos</button>
            <button class=" btn btn-light " onclick="location.href='#habilidad'" type="button">Habilidades</button>
            <button class=" btn btn-light "  type="button">Contacto</button>
            <div class="vr text-dark"></div>
            <button class=" btn btn-light " type="button">Log in</button>
        </ul>
    </div>
</nav>