<app-header></app-header>
<div class="container form mt-5">
    <form (ngSubmit)="onSubmit()" [formGroup]="eduForm">
        <div class="container">
            <div class="row">
                <div class="col title">
                    <h2>{{title}}</h2>
                    <hr>
                </div>
            </div>
            <div class="row row-cols-1">
                <div class="col pb-3">
                    <label for="titulo">Titulo:</label>
                    <input type="text" id="titulo" class="input" [ngClass]="tituloClass()" required
                        value="{{educacion.titulo}}" formControlName="titulo" minlength="2" maxlength="100">
                    <div *ngIf="!titulo.invalid && titulo.dirty && titulo.touched" class="valid-msg">
                        Todo parece estar correcto.
                    </div>
                    <div *ngIf="titulo.errors?.['required'] && titulo.dirty && titulo.touched" class="error-msg">
                        Este campo es obligatorio.
                    </div>
                    <div *ngIf="titulo.dirty && titulo.touched && (titulo.errors?.['minlength']|| titulo.errors?.['maxlength'])"
                        class="error-msg">El título debe estar entre 2 y 100 carácteres.
                    </div>
                </div>
                <div class="col mb-3">
                    <label for="instituto">Instituto:</label>
                    <input type="text" id="instituto" class="input" [ngClass]="institutoClass()"
                        value="{{educacion.instituto}}" required formControlName="instituto">
                    <div *ngIf="!instituto.invalid && instituto.dirty && instituto.touched" class="valid-msg">
                        Todo parece estar correcto.
                    </div>
                    <div *ngIf="instituto.errors?.['required'] && instituto.dirty && instituto.touched"
                        class="error-msg">
                        Este campo es obligatorio.
                    </div>
                    <div *ngIf="instituto.dirty && instituto.touched && (instituto.errors?.['minlength']|| instituto.errors?.['maxlength'])"
                        class="error-msg">El nombre del instituto debe estar entre 2 y 100 carácteres.
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="row row-cols-2">
                        <div class="col">
                            <label for="fecha_ini">Fecha de inicio</label>
                            <input type="date" class="input" [ngClass]="fecha_iniClass()" id="fecha_ini"
                                onkeydown="return false" value="{{educacion.fecha_ini | date:'yyyy-MM-dd'}}"
                                formControlName="fecha_ini" required>
                            <div *ngIf="!fecha_ini.invalid && fecha_ini.dirty && fecha_ini.touched" class="valid-msg">
                                Todo parece estar correcto.
                            </div>
                            <div *ngIf="fecha_ini.invalid && fecha_ini.dirty && fecha_ini.touched" class="error-msg">
                                Este campo es obligatorio.
                            </div>
                        </div>
                        <div class="col">
                            <label for="fecha_fin">Fecha de fin</label>
                            <input type="date" class="input" [ngClass]="fecha_finClass()" id="fecha_fin"
                                min="{{fecha_ini.value}}" value="{{educacion.fecha_fin | date:'yyyy-MM-dd'}}"
                                onkeydown="return false" formControlName="fecha_fin" required>
                            <div *ngIf="!fecha_fin.invalid && fecha_fin.dirty && fecha_fin.touched" class="valid-msg">
                                Todo parece estar correcto.
                            </div>
                            <div *ngIf="fecha_fin.invalid && fecha_fin.dirty && fecha_fin.touched" class="error-msg">
                                Este campo es obligatorio.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row row-cols-2">
                        <div class="col">
                            <ng-container *ngIf="eduForm.touched && eduForm.dirty; else notEdited">
                                <button class="btn btn-secondary" data-bs-target="#cancelarCambios"
                                    data-bs-toggle="modal" type="button">Cancelar
                                </button>
                            </ng-container>
                        </div>
                        <div class="col">
                            <button class="btn btn-primary" data-bs-target="#confirmarCambios" data-bs-toggle="modal"
                                type="button" [disabled]="eduForm.invalid">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="confirmarCambios" aria-hidden="true" aria-labelledby="confirmarCambios"
            tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-sm">
                <div class="modal-content">
                    <div class="modal-body">
                        <h5 class="modal-title modal-text" id="confirmarCambios-msg">¿Guardar cambios?</h5>
                        <p class="modal-text">Siempre puedes volver a editarlos.</p>
                        <button class="btn btn-primary mb-1" type="submit" data-bs-target="#cambiosGuardados"
                            data-bs-toggle="modal">Confirmar cambios</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                            aria-label="Close">Volver</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal fade" id="cambiosGuardados" aria-hidden="true" data-bs-backdrop="static"
    aria-labelledby="cambiosGuardados" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <h5 class="modal-title modal-text" id="cambiosGuardados">Cambios guardados</h5>
                <button class="btn btn-primary" data-bs-dismiss="modal" routerLink="/home/educacion">Ok</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="cancelarCambios" aria-hidden="true" aria-labelledby="cancelarCambios" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <h5 class="modal-title modal-text">
                    ¿Cancelar cambios?
                </h5>
                <p class="modal-text">Todo volverá a su estado anterior.</p>
                <button class="btn btn-danger mb-1" data-bs-target="#cambiosCancelados" data-bs-toggle="modal">Cancelar
                    cambios</button>
                <button class="btn btn-primary" data-bs-dismiss="modal">Seguir editando</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="cambiosCancelados" aria-hidden="true" data-bs-backdrop="static"
    aria-labelledby="cambiosCancelados" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <h5 class="modal-title modal-text" id="cambiosCancelados-msg">Cambios cancelados</h5>
                <button class="btn btn-primary" data-bs-dismiss="modal" (click)="onCancel()">Ok</button>
            </div>
        </div>
    </div>
</div>

<ng-template #notEdited>
    <button class="btn btn-secondary btn-form" (click)="onCancel()" type="button">Cancelar</button>
</ng-template>