<app-header [editRedes]="editRedes"></app-header>
<div class="container form mt-5">
    <form (ngSubmit)="onSubmit(redesForm.value)" [formGroup]="redesForm">
        <div class="container">
            <div class="row">
                <div class="col title">
                    <h2>Editar redes</h2>
                    <hr>
                </div>
            </div>
            <div class="row row-cols-1">
                <div class="col pb-3">
                    <label for="instagram">Instagram</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="bi bi-instagram fs-4"></i></span>
                        <input type="url" id="instagram" class="input form-control" [ngClass]="instagramClass()"
                            formControlName="instagram" maxlength="255">
                    </div>
                    <div *ngIf="!instagram.invalid && instagram.dirty && instagram.touched" class="valid-msg">
                        Todo parece estar correcto
                    </div>
                    <div *ngIf="instagram.invalid && instagram.dirty && instagram.touched" class="error-msg">
                        Este campo es obligatorio
                    </div>
                    <div *ngIf="instagram.dirty && instagram.touched && instagram.errors?.['maxlength']"
                        class="error-msg">
                        No debe superar los 255 carácteres.
                    </div>
                </div>
                <div class="col mb-3">
                    <label for="github">Github</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="bi bi-github fs-4"></i></span>
                        <input type="url" id="linkedIn" class="input form-control" [ngClass]="githubClass()"
                            formControlName="github" maxlength="255">
                    </div>
                    <div *ngIf="!github.invalid && github.dirty && github.touched" class="valid-msg">
                        Todo parece estar correcto.
                    </div>
                    <div *ngIf="github.invalid && github.dirty && github.touched" class="error-msg">
                        Este campo es obligatorio.
                    </div>
                    <div *ngIf="github.errors?.['maxlength'] && github.dirty && github.touched" class="error-msg">
                        No debe superar los 255 carácteres.
                    </div>
                </div>
                <div class="col mb-3">
                    <label for="linkedIn">LinkedIn</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="bi bi-linkedin fs-4"></i></span>
                        <input type="url" id="linkedIn" class="input form-control" [ngClass]="linkedInClass()"
                            formControlName="linkedIn" maxlength="255">
                    </div>
                    <div *ngIf="!linkedIn.invalid && linkedIn.dirty && linkedIn.touched" class="valid-msg">
                        Todo parece estar correcto.
                    </div>
                    <div *ngIf="linkedIn.invalid && linkedIn.dirty && linkedIn.touched" class="error-msg">
                        Este campo es obligatorio.
                    </div>
                    <div *ngIf="linkedIn.errors?.['maxlength'] && linkedIn.dirty && linkedIn.touched" class="error-msg">
                        No debe superar los 255 carácteres.
                    </div>
                </div>
                <div class="col">
                    <div class="row row-cols-2">
                        <div class="col">
                            <ng-container *ngIf="redesForm.touched && redesForm.dirty;else notEdited">
                                <button class="btn btn-secondary" data-bs-target="#cancelarCambios"
                                    data-bs-toggle="modal" type="button">Cancelar
                                </button>
                            </ng-container>
                        </div>
                        <div class="col">
                            <button class="btn btn-primary" data-bs-target="#confirmarCambios" data-bs-toggle="modal"
                                type="button" [disabled]="redesForm.invalid">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="confirmarCambios" aria-hidden="true" aria-labelledby="confirmarCambios"
            tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-sm">
                <div class="modal-content">
                    <div class="modal-body">
                        <h5 class="modal-title modal-text" id="confirmarCambios-msg">¿Guardar cambios?</h5>
                        <p class="modal-text">Siempre puedes volver a editarlos.</p>
                        <button class="btn btn-primary mb-1" type="submit" data-bs-target="#cambiosGuardados"
                            data-bs-toggle="modal">Confirmar cambios</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                            aria-label="Close">Volver</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal fade" id="cambiosGuardados" aria-hidden="true" data-bs-backdrop="static"
    aria-labelledby="cambiosGuardados" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <h5 class="modal-title modal-text" id="cambiosGuardados">Cambios guardados</h5>
                <button class="btn btn-primary" data-bs-dismiss="modal" routerLink="/home/proyecto">Ok</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="cancelarCambios" aria-hidden="true" aria-labelledby="cancelarCambios" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <h5 class="modal-title modal-text">
                    ¿Cancelar cambios?
                </h5>
                <p class="modal-text">Todo volverá a su estado anterior.</p>
                <button class="btn btn-danger mb-1" data-bs-target="#cambiosCancelados" data-bs-toggle="modal">Cancelar
                    cambios</button>
                <button class="btn btn-primary" data-bs-dismiss="modal">Seguir editando</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="cambiosCancelados" aria-hidden="true" data-bs-backdrop="static"
    aria-labelledby="cambiosCancelados" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <h5 class="modal-title modal-text" id="cambiosCancelados-msg">Cambios cancelados</h5>
                <button class="btn btn-primary" data-bs-dismiss="modal" (click)="onCancel()">Ok</button>
            </div>
        </div>
    </div>
</div>

<ng-template #notEdited>
    <button class="btn btn-secondary" (click)="onCancel()" type="button">Cancelar</button>
</ng-template>