.btn{
    border: none;
    border-radius: 0;
}

.img{
    height: 200px;
    width: 200px;
    align-self: center;
    object-fit: cover;
    border-radius: 50%;
}

.card{
    margin-top: 20%;
    background: transparent;
}

.img {
    position: relative;
}

.test {
    z-index: 999;
    position:absolute;
    right: 0;
    bottom: 0;
}