<section class="container-xl">
    <div class="row pb-1">
        <div class="col-lg-2 col-md-1"></div>
        <div class="col-lg-8 col-md-10 align-self-center">
            <div class="card border-0">
                <div class="img">
                    <img class="card-img-top img" src="{{usuario.avatar}}" alt="Foto de perfil">
                    <button class="btn text-light test" *ngIf="isLoggedIn" type="button" (click)="goTo()">
                        <i class="bi bi-pen"></i>
                    </button>
                </div>
                <div class="card-body bg-light">
                    <h1 class="card-title text-center">{{usuario.nombre}} {{usuario.apellido}}
                        <button *ngIf="isLoggedIn" class="btn btn-light edit-usr" type="button"
                            routerLink="/editar/usuario">Editar <i class="bi bi-pen"></i>
                        </button>
                    </h1>
                    <h3 class="card-subtitle ">{{usuario.ocupacion}}</h3>
                    <h4 class="card-subtitle ">{{usuario.localidad}}, {{usuario.provincia}}</h4>
                    <p class="card-text text-start">{{usuario.acercaDe}}</p>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-1"></div>
    </div>
</section>