<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-lg-8 align-self-center">
            <div class="card border-light bg-info-subtle">
                <div class="img card-img-top"></div>
                <div class="card-body">
                    <h1 class="card-title text-center">Alejandro Aguilar</h1>
                    <h3 class="card-subtitle text-muted">Estudiante</h3>
                    <h4 class="card-subtitle text-muted">Posadas, Misiones</h4>
                    <p class="card-text text-start">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis temporibus corrupti similique magni praesentium commodi earum alias vel. Vero voluptates, quae officia asperiores iusto doloremque. Expedita at deserunt quidem repudiandae.</p>
                </div>
                <div class="card-footer text-center">
                    <app-contacto></app-contacto>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
 </div>