<section class="container pt-3" id="educacion">
    <div class="row mb-1">
        <div class="col-md-5 col-sm-6">
            <h2>Historia académica</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card mb-3" >
                <div class="card-body">
                  <h5 class="card-title">Título n</h5>
                  <button class="btn edit" *ngIf="isLoggedIn" [routerLink]="['/editar/educacion']" >
                    <i class="bi bi-pen"></i>
                </button>  
                  <h6 class="card-subtitle mb-2 text-muted">Instituto</h6>
                  <h6 class="card-subtitle mb-2 text-muted">Fecha de inicio y fecha de fin</h6>
                  <p class="card-text">descripción del trabajo: Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi placeat eaque facere optio! Ipsam, labore ea alias ipsum cupiditate reprehenderit tempore nulla. Saepe, rerum laborum adipisci quibusdam illo rem quaerat.</p>
                </div>
              </div>
        </div>
    </div>
</section>
<div></div>