<app-header></app-header>
<div class="card">
  <div class="card-header bg-white border-bottom-0"
    style="background-image: url({{bgUrl}}); background-size: 100% 100%;">
    <button class="btn text-light" *ngIf="isLoggedIn" type="button" routerLink="/editar/usuario/background">
      <i class="bi bi-pen"></i>
    </button>
    <app-home></app-home>
  </div>
  <div class="container">
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
    <div class="card-footer">
      <app-footer></app-footer>
    </div>
  </div>
</div>