<app-header></app-header>
<div class="container form mt-5">
    <form (ngSubmit)="onSubmit()" [formGroup]="habForm">
        <div class="container">
            <div class="row">
                <div class="col title">
                    <h2>{{title}}</h2>
                    <hr>
                </div>
            </div>
            <div class="row row-cols-1">
                <div class="col pb-3">
                    <label for="nombre_habilidad">Habilidad:</label>
                    <input type="text" id="nombre_habilidad" class="input" [ngClass]="nombre_habilidadClass()" required
                        value="{{habilidad.nombre_hab}}" formControlName="nombre_hab" maxlength="100">
                    <div *ngIf="!nombre_habilidad.invalid && nombre_habilidad.dirty && nombre_habilidad.touched"
                        class="valid-msg">
                        Todo parece estar correcto.
                    </div>
                    <div *ngIf="nombre_habilidad.errors?.['maxlength'] && nombre_habilidad.touched && nombre_habilidad.dirty"
                        class="error-msg">
                        El nombre de la habilidad no debe superar los 100 carácteres.
                    </div>
                    <div *ngIf="nombre_habilidad.errors?.['required'] && nombre_habilidad.dirty && nombre_habilidad.touched"
                        class="error-msg">
                        Este campo es obligatorio.
                    </div>
                </div>
                <div class="col">
                    <input type="radio" class="radio" id="idioma" name="skill" (click)="onToggle(true)">
                    <label for="idioma" class="radio-label"> Idioma</label>
                    <input type="radio" class="radio" id="otro" name="skill" checked (click)="onToggle(false)">
                    <label for="otro" class="radio-label"> Otro</label>
                </div>
                <div class="col mb-3">
                    <label for="nivel" class="radio-label">Nivel: </label>
                    <select name="nivel" class="input" id="nivel" formControlName="nivel">
                        <option value="20" id="20">Principiante</option>
                        <option value="40" id="40">Principiante-intermedio</option>
                        <option value="60" id="60">Intermedio</option>
                        <option value="80" id="80">Intermedio-avanzado</option>
                        <option value="100" id="100">Avanzado</option>
                        <option value="110" id="110" *ngIf="idioma">Nativo</option>
                    </select>
                    <div *ngIf="!nivel.invalid && nivel.dirty && nivel.touched" class="valid-msg">
                        Todo parece estar correcto.
                    </div>
                    <div *ngIf="nivel.invalid && nivel.dirty && nivel.touched" class="error-msg">
                        Este campo es obligatorio.
                    </div>
                </div>
                <div class="col">
                    <div class="row row-cols-2">
                        <div class="col">
                            <ng-container *ngIf="habForm.dirty && habForm.touched; else notEdited">
                                <button class="btn btn-secondary" data-bs-target="#cancelarCambios"
                                    data-bs-toggle="modal" type="button">Cancelar
                                </button>
                            </ng-container>
                        </div>
                        <div class="col">
                            <button class="btn btn-primary" data-bs-target="#confirmarCambios" data-bs-toggle="modal"
                                type="button" [disabled]="habForm.invalid">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="confirmarCambios" aria-hidden="true" aria-labelledby="confirmarCambios"
            tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-sm">
                <div class="modal-content">
                    <div class="modal-body">
                        <h5 class="modal-title modal-text" id="confirmarCambios-msg">¿Guardar cambios?</h5>
                        <p class="modal-text">Siempre puedes volver a editarlos.</p>
                        <button class="btn btn-primary mb-1" type="submit" data-bs-target="#cambiosGuardados"
                            data-bs-toggle="modal">Confirmar cambios</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                            aria-label="Close">Volver</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal fade" id="cambiosGuardados" aria-hidden="true" data-bs-backdrop="static"
    aria-labelledby="cambiosGuardados" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <h5 class="modal-title modal-text" id="cambiosGuardados">Cambios guardados</h5>
                <button class="btn btn-primary" data-bs-dismiss="modal" routerLink="/home/habilidad">Ok</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="cancelarCambios" aria-hidden="true" aria-labelledby="cancelarCambios" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <h5 class="modal-title modal-text">
                    ¿Cancelar cambios?
                </h5>
                <p class="modal-text">Todo volverá a su estado anterior.</p>
                <button class="btn btn-danger mb-1" data-bs-target="#cambiosCancelados" data-bs-toggle="modal">Cancelar
                    cambios</button>
                <button class="btn btn-primary" data-bs-dismiss="modal">Seguir editando</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="cambiosCancelados" aria-hidden="true" data-bs-backdrop="static"
    aria-labelledby="cambiosCancelados" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <h5 class="modal-title modal-text" id="cambiosCancelados-msg">Cambios cancelados</h5>
                <button class="btn btn-primary" data-bs-dismiss="modal" (click)="onCancel()">Ok</button>
            </div>
        </div>
    </div>
</div>
<ng-template #notEdited>
    <button class="btn btn-secondary btn-form" (click)="onCancel()" type="button">Cancelar</button>
</ng-template>