<section class="container pt-3">
    <div class="row mb-1">
        <div class="col-md-3 col-sm-6">
            <h2>Proyectos</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Este portfolio</h5>
                    <h6 class="card-subtitle">Lenguajes y/o frameworks utilizados:</h6>
                    <p class="card-text">Angular, SpringBoot, MySql, Bootstrap.</p>
                    <h6 class="card-subtite">URL: <a href="" class="card-link"></a></h6>
                </div>
            </div>
        </div>
    </div>
</section>