<nav class="d-none d-sm-block">
    <ul class="nav nav-tabs justify-content-end">
        <li class="nav-item">
            <button class="nav-link text-dark active" aria-current="page" data-bs-toggle="tab"
                routerLink="">Proyectos</button>
        </li>
        <li class="nav-item">
            <button class="nav-link text-dark" data-bs-toggle="tab" routerLink="trabajo">Experiencia</button>
        </li>
        <li class="nav-item ">
            <button class="nav-link text-dark" data-bs-toggle="tab" routerLink="educacion">Educación</button>
        </li>
        <li class="nav-item">
            <button class="nav-link text-dark" data-bs-toggle="tab" routerLink="habilidad">Habilidades</button>
        </li>
    </ul>
</nav>
<section class="container pt-3" id="proyecto">
    <div class="row mb-1">
        <div class="col-10 col-sm-7">
            <h2>Proyectos</h2>
        </div>
        <div class="col-2 col-sm-5 button-title">
            <button class="btn btn-light" [routerLink]="['/nuevo/proyecto']" *ngIf="isLoggedIn">
                <div class="d-none d-sm-inline">Agregar proyecto </div>
                <i class="bi bi-plus-square"></i>
            </button>
        </div>
    </div>
    <div class="row" *ngFor="let item of proyecto">
        <div class="col-12">
            <div class="card">
                <div class="row g-0">
                    <div class="col-md-2 col-sm-4 col-12 img-proyecto" *ngIf="item.img; else addImg">
                        <img src="{{item.img}}" class="rounded-start img-fluid" alt="imagen del proyecto">
                        <button class="btn btn-light edit-btn"  (click)="goTo(item.id_proyecto!, true)" *ngIf="isLoggedIn">
                            <div class="d-none d-sm-inline"> </div><i class="bi bi-pen"></i>
                        </button>
                    </div>
                    <ng-template #addImg>
                        <div class="col-md-2 col-sm-4 col-12 add-img">
                            <button class="btn"  (click)="goTo(item.id_proyecto!, true)" *ngIf="isLoggedIn">
                                <i class="bi bi-plus-square-dotted"></i>
                            </button>
                        </div>
                    </ng-template>
                    <div class="col-md-10 col-sm-8 col-12">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6 col-sm-6 col-lg-8 col-md-7">
                                    <h5 class="card-title">{{item.nombre_proyecto}}</h5>
                                </div>
                                <div class="col-6 col-lg-4 col-sm-6 col-md-5 edit-delete-btns">
                                    <button class="btn btn-light" *ngIf="isLoggedIn" data-bs-target="#eliminar"
                                        data-bs-toggle="modal" (click)="onChoose(item.id_proyecto!)" type="bu
                                    ">
                                        <div class="d-none d-sm-inline">Eliminar </div> <i class="bi bi-trash3"></i>
                                    </button>
                                    <button class="btn btn-light" (click)="goTo(item.id_proyecto!, null)"
                                        *ngIf="isLoggedIn">
                                        <div class="d-none d-sm-inline">Editar </div><i class="bi bi-pen"></i>
                                    </button>
                                </div>
                            </div>
                            <h6 class="card-subtitle">Lenguajes y/o frameworks utilizados:</h6>
                            <p class="card-text">{{item.lenguaje}}</p>
                            <p>{{item.descripcion}}</p>
                            <h6 class="card-subtite">URL: <a href="" class="card-link">{{item.url}}</a></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="eliminar" aria-hidden="true" aria-labelledby="eliminarLabel" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-sm">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <i class="bi bi-exclamation-circle warn-sign"></i>
                        <h5 class="modal-title modal-text" id="eliminarLabel">¿Seguro que desea eliminarlo?</h5>
                        <p class="modal-text">No podra recuperar la información.</p>
                        <button class="btn btn-danger modal-btn" data-bs-target="#eliminado" data-bs-toggle="modal"
                            type="button
                        " (click)="onDelete()">Eliminar de todos modos</button>
                        <button class="btn btn-secondary modal-btn" data-bs-dismiss="modal">Volver</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="eliminado" aria-hidden="true" aria-labelledby="eliminadoLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-body text-center">
                <i class="bi bi-check-circle check-sign"></i>
                <h5 class="modal-title modal-text" id="eliminadoLabel">Eliminado</h5>
                <p class="modal-text">Se eliminó correctamente.</p>
                <button class="btn btn-primary modal-btn" data-bs-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>