/* You can add global styles to this file, and also import other style files */
*{padding: 0;
box-sizing: border-box;}

@media only screen and (min-width: 500px) {
    .form{
        width: 400px;
        box-sizing: content-box;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

.form {
    border-radius: 0.4rem;
    padding-bottom: 2.5rem;
    border: 1px #cfcfcf solid
}
.input {
    padding: 0.4rem 0.6rem;
    display: block;
    width: 100%;
    border: 1px solid lightblue;
    border-radius: 0.3em;
    outline: none;
}

.input:focus {
    box-shadow: 0 0 3px blue;
}

.valid-input{
    background: #f4fff5;
    border-color: #208820;
    outline: none;
}

.valid-input:focus {
    box-shadow: 0 0 3px #208820;
}

.invalid-input {
    outline: none;
    border-color: #b62525;
}

.invalid-input:focus{
    outline: none;
    box-shadow:0 0 3px #b62525;
}

.error-msg{
    color: #b62525;
    font-size: small;
    font-weight: 600;
}

.valid-msg{
    color: #259625;
    font-size: small;
    font-weight: 600;
}

.edit {
    position: absolute;
    right: 0;
    top: 0.3em;
}

.title {
    border-radius: 0.4rem 0.4rem 0 0;
    padding-top: 2rem;
    text-align: center;
}

.modal-text {
    text-align: center;
    padding-bottom: 0.8em;
}