<nav>
    <div class="nav nav-tabs text-dark justify-content-end flx-xs-column px-3 pt-2" id="nav-tab" role="tablist">
        <button class="nav-link text-dark active" id="nav-proyectos-tab" data-bs-toggle="tab" data-bs-target="#nav-proyectos" type="button" role="tab" aria-controls="nav-proyectos" aria-selected="true" routerLink=" " (click)="scrollToElement(tab)">Proyectos</button>
        <button class="nav-link text-dark" id="nav-trabajo-tab" data-bs-toggle="tab" data-bs-target="#nav-trabajo" type="button" role="tab" aria-controls="nav-trabajo" aria-selected="false" routerLink="trabajo" >Trabajo</button>
        <button class="nav-link text-dark" id="nav-educacion-tab" data-bs-toggle="tab" data-bs-target="#nav-educacion" type="button" role="tab" aria-controls="nav-educacion" aria-selected="false" routerLink="educacion">Educación</button>
        <button class="nav-link text-dark" id="nav-habilidades-tab" data-bs-toggle="tab" data-bs-target="#nav-habilidades" type="button" role="tab" aria-controls="nav-habilidades" aria-selected="false" routerLink="habilidades">Habilidades</button>
    </div>
</nav>
<div #tab></div>